@import "tailwindcss";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 100px var(--color-input-bg) inset;
  -webkit-text-fill-color: var(--color-foreground);
  caret-color: var(--color-foreground); /* optional */
}

/* Custom scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* custom colors using CSS custom properties */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-accent: #10b981;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-muted: #f1f5f9;
  --color-border: #e2e8f0;
  --color-icon: #575a5e;
  --color-input-bg: #F1F5F9;
}

/* Dark mode colors */
.dark {
  --color-primary: #60a5fa;
  --color-secondary: #94a3b8;
  --color-accent: #34d399;
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
  --color-muted: #1e293b;
  --color-border: #526075;
  --color-icon: #d5d6d6;
  --color-input-bg: #1E293B;
}

/* Global styles using variables for non-tailwind elements */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
